body {
    display: flex;

    background-color: #fff6f0;

    margin: 0;

    width: 100%;

    font-family: Helvetica, Verdana, Geneva, Tahoma, sans-serif;

    &.dark-mode {
        background-color: #150811;
    }
}

#root {
    width: 100%;
}

.homepage {
    display: grid;

    width: 100%;

    justify-items: center;
}

header {
    display: flex;

    background-color: #f03434;
    
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;;

    padding: 20px;

    width: calc(100% - 40px);
    max-height: 200px;

    &.dark-mode {
        background-color: #ab9df2;
    }
}

main {
    padding: 20px 40px 0 40px;

    color: #150811;

    &.dark-mode {
        background-color: #fff6f0;
    }
}