body {
    display: flex;
    margin: 0;
    background: #ecf0f1;
    font-family: Helvetica, Verdana, Geneva, Tahoma, sans-serif;

    .homepage {
        header {
            background: #150811;
            color: #19b5fe;
            padding: 20px;
            width: calc(100% - 40px);
            max-height: 200px;
            position: absolute;
        }

        main {
            padding-top: 200px;
            padding-left: 40px;
        }
    }
}